<!DOCTYPE html>
<head>
    <meta charset="tuf-8">
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>おうちの経理</title> 
      
    
</head>

<nav>
  <div class="nav-wrapper blue">
    <a href="{% url 'index' %}" class="brand-logo"><img src="/media/images/logo_transparent.png" width="70" height="70" /></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="{% url 'payment_create' %}"><i class="material-icons">edit</i></a></li>
      <li><a href="{% url 'assets' %}"><i class="material-icons">account_balance</i></a></li>
      <li><a href="/"><i class="material-icons">account_circle</i></a></li>
    </ul>
  </div>
</nav>

<body>
    <div class="container">
        {% block main %}
        {% endblock main %}
    </div>
</body>