{% extends 'base.html' %}
{% block main %}
{% load humanize %}

<head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript" src="https://github.com/nagix/chartjs-plugin-colorschemes/releases/download/v0.2.0/chartjs-plugin-colorschemes.min.js"></script>
</head>

<header>
  <h2>口座残高一覧</h2>
</header>
<body>
<canvas id="myBarChart"></canvas>
<script>
  var ctx = document.getElementById("myBarChart")
  var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ account_name|safe }},
      datasets: 
      [{
          label: {{ month|safe }},
          data: {{ money|safe }},
        }],
    },
    options: {
      responsive: true,
      title: {
        display: true,
        text: '口座残高'
      },
    }
  });
</script>

<script type="text/javascript">
var ctx = document.getElementById("myPieChart");
  var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: "{{ piedata.category }}",
      datasets: [{
          backgroundColor: [
              "#BB5179",
              "#FAFF67",
              "#58A27C",
              "#3C00FF"
          ],
          data: [38, 31, 21, 10]
      }]
    },
    options: {
      title: {
        display: true,
        text: '学習内訳'
      }
    }
  });
</script>

<div style="display: flex;">
<table class="striped">
    <tr>
      <th>年月</th>
      <th>口座</th>
      <th>金額</th>
    </tr>
    {% for account in object_list %}
  
    <tr>
      <td>{{ account.closed_in_year }}年{{ account.closed_on_month }}月</td>
      <td>{{ account.get_account_name_display }}</td>
      <td>{{ account.amount |intcomma  }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

  <div class="row" style="display: flex;">
    <div class="col s2"></div>
    <div class="col s8"></div>
    <div class="col s2">
      <a href="{% url 'kakeibo:index' %}" class="btn waves-effect card-panel cyan darken-1" style="margin-left: auto;">戻る</a>
    </div>
  </div>

</body>
  {% endblock %}