{% extends 'base.html' %}
{% block main %}
{% load static %}

    <body>
        <div>
        <h2></h2>
        <img src="{% static "images/facebook_cover_photo_2.png" %}" width="100%" height="100%" />
        </div>
        
        <div class="row" style="display: flex;">
            <div class="col s4">
                <a href="{% url 'kakeibo:month' year month %}" class="btn btn-large pink lighten-2">
                    <i class="material-icons left">date_range</i>家計簿</a>
            </div>
            <div class="col s4">
                <a href="{% url 'kakeibo:payment_create' %}" class="btn btn-large cyan">支出登録
                    <i class="material-icons left">edit</i></a>
            </div>
            <div class="col s4">
                <a href="{% url 'kakeibo:assets' %}" class="btn btn-large light-blue">資産一覧
                    <i class="material-icons left">account_balance</i></a>
            </div>
            <div class="col s4">
            <a href="{% url 'kakeibo:card_list' %}" class="btn btn-large">カード一覧
                <i class="material-icons left">credit_card</i></a>
            </div>
        </div>
        
    </body>

{% endblock %}