{% extends 'base.html' %}
{% block main %}
<header>
<div class="row">
  <div class="col s2" style="display: flex;">
    <a href="{% url 'month' previous_year previous_month %}"><i class="material-icons left">chevron_left</i>前月</a>
  </div>
  <div class="col s8"></div>
  <div class="col s2" style="display: flex;">
    <a href="{% url 'month' next_year next_month %}" style="margin-left: auto;"><i class="material-icons right">chevron_right</i>次月</a>
  </div>
</div>
  <h2>{{ year }}年{{ month }}月</h2>

</header>

<h3>収入</h3>
<table class="striped">
    <tr>
      <th>日付</th>
      <th>カテゴリ</th>
      <th>金額</th>
      <th>摘要</th>
      <th>編集・削除</th>
    </tr>
    {% for income in monthly_incomelist %}
  
    <tr>
      <td>{{ income.income_date }}</td>
      <td>{{ income.get_income_category_display }}</td>
      <td>{{ income.income_money }}</td>
      <td>
        {{ income.income_memo }}
      </td>
      <td>
        <a href="{% url 'income_update' income.id %}" class="waves-effect btn-small">
          <i class="material-icons">edit</i></a>
        <a href="{% url 'income_delete' income.id %}" class="waves-effect btn-small waves-light pink lighten-1">
          <i class="material-icons">delete</i></a>
      </td>
      <td></td>
    </tr>
    {% endfor %}
  </table>
  <div class="row" style="display: flex;">
    <div class="col s2">
      <a href="{% url 'income_create' %}" class="btn-floating btn-large waves-effect "><i class="material-icons">add</i></a>
    </div>
    <div class="col s8"></div>
    <div class="col s2"></div>
  </div>
<h3>支出</h3>
<table class="striped">
    <tr>
      <th>日付</th>
      <th>カテゴリ</th>
      <th>金額</th>
      <th>摘要</th>
      <th>編集・削除</th>
    </tr>
    {% for payment in monthly_spendlist %}
  
    <tr>
      <td>{{ payment.spend_date }}</td>
      <td>{{ payment.get_spend_category_display }}</td>
      <td>{{ payment.spend_money }}</td>
      <td>
        {{ payment.spend_memo }}
      </td>
      <td>
        <a href="{% url 'payment_update' payment.id %}" class="waves-effect btn-small">
          <i class="material-icons">edit</i></a>
        <a href="{% url 'payment_delete' payment.id %}" class="waves-effect btn-small waves-light pink lighten-1">
          <i class="material-icons">delete</i></a>
      </td>
      <td></td>
    </tr>
    {% endfor %}
  </table>

  <div class="row" style="display: flex;">
    <div class="col s2">
      <a href="{% url 'payment_create' %}" class="btn-floating btn-large waves-effect "><i class="material-icons">add</i></a>
    </div>
    <div class="col s8"></div>
    <div class="col s2">
      <a href="{% url 'index' %}" class="btn waves-effect card-panel cyan darken-1" style="margin-left: auto;">戻る</a>
    </div>
  </div>

  
  {% endblock %}