{% extends 'base.html' %}
{% block main %}
{% load humanize %}
    <head>
        <title>家計簿</title>
    </head>
<body>
    <h3 class="header">
        {{ year }}年 {{ month }}月　決算
    </h3>

<div class="row"><div class="col s12 m12">
    <div>
        <h6>決算日時点での口座残高、来月の生活費予定額、貯金希望額を入れてください</h6>
        <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }}
        <button class="btn waves-effect waves-light red" type="submit" name="action">
            <i class="material-icons left">star</i>決算！</a>
        </button>
        </form>
   <div>
</div>
<div><p></p></div>
<div class="section scrollspy">
    <h3>決算収支まとめ</h3>
    <div class="row">
        <div class="col s12 m10 offset-m1 xl10 offset-xl1">
            
            <table>
                <thead>
                <tr>
                    <th>項目</th>
                    <th>金額</th>
                </tr></thead>
                <tbody>
                    <tr>
                        <td>今月の収入</td>
                        <td>{{ monthly_income |intcomma }}</td>
                    </tr>
                    <tr>
                        <td>カード引落額</td>
                        <td>{{ card_withdrawal |intcomma }}</td>
                    </tr>
                    <tr>
                        <td>カード引落額</td>
                        <td>{{ card_withdrawal |intcomma }}</td>
                    </tr>
                    <tr>
                        <td>　　内、特別費</td>
                        <td>　{{ card_withdrawal_specialcost |intcomma }}</td>
                    </tr>
                    <tr>
                        <td>特別費積立額</td>
                        <td>{{ available_for_special |intcomma }}</td>
                    </tr>
                    <tr>
                        <td>貯金額</td>
                        <td>{{ saving |intcomma }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        <div><p></p></div>
    <thead>
        <h4>決算後口座残高</h4>
    </thead>

    <div class="row">
        <div class="col s12 m10 offset-m1 xl10 offset-xl1">
            
            <table>
                <tbody>
                    <tr>
                        <td>生活費口座</td>
                        <td>{{ account_living_after |intcomma }}</td>
                    </tr>
                    <tr>
                        <td>特別費口座</td>
                        <td>{{ account_special_after |intcomma }}</td>
                    </tr>
                    <tr>
                        <td>貯金口座</td>
                        <td>{{ saving_after |intcomma }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

</div></div>
    <div class="row">
        <div class="col s2">
            <a href="{% url 'assets' %}" class="btn waves-effect card-panel light-blue">資産一覧
                <i class="material-icons left">account_balance</i></a>
        </div>
        <div class="col s8">
        </div>
        <div class="col s2">
            <a href="{% url 'index' %}" class="btn waves-effect card-panel cyan darken-1" style="margin-left: auto;">戻る</a>
        </div>
    </div>

</body>
{% endblock %}