{% extends 'base.html' %}
{% block main %}
{% load static %}

    <body>
        <h4 class="center-align" style="margin: 20px; display: flex;">おうちの家計簿とは？</h4>
        
        <h6 style="margin: 12px; display: flex;">「今月も思ったより使ってしまった...」</h6>
        <h6 style="margin: 12px; display: flex;">「憧れのこれが欲しいけど、このお金って使っていいお金なのかな？」</h6>
        <p style="margin: 20px; display: flex;">そのように思ったことはないですか？　おうちの家計簿は、簡単に収入・支出を登録するだけで適切な資産管理を行います。</p>
    <div style="display: flex;">    
        <img class="responsive-img center-align" src="{% static "images/moneyless_girl.png" %}" width="50%" height="50%" style="margin:auto"/>
    </div>
    
        <h4>使い方</h4>
    <div style="display: flex;">   
        <img class="responsive-img" src="{% static "images/life.png" %}" width="50%" height="50%" style="margin:auto"/>
    </div>
        <h5>①アカウント登録</h5>
        <h5>②生活費・特別費登録</h5>
        <h5>③毎月の収入・支出登録</h5>
        <h5>④決算</h5>
    

        <h5>さあ、資産と楽しい特別な暮らしを守るのはこの家計簿とあなたです</h5>
        <img class="responsive-img" src="{% static "images/facebook_cover_photo_2.png" %}" width="100%" height="100%" />
        
        <div class="row" style="margin-top: 20px; display: flex;" >
            <div class="col s6">
                <p style="margin: auto;">さあ、登録して使ってみましょう！</p>
                <a href="{% url 'accounts:registration' %}" class="btn waves-effect card-panel  pink lighten-2" style="margin: auto;">新規登録</a>
                </div>
            <div class="col s6">
                <p style="margin: auto;">アカウントを既にお持ちの方</p>
                <a href="{% url 'accounts:login' %}" class="btn waves-light card-panel" style="margin: auto;">ログイン</a></p>
            </div>   
        </div>
        <h5 class="center-align" >おうちの家計簿でお金を管理して、”好き”にお金を遣ってたのしい暮らし</h5>
        <img class="responsive-img" src="{% static "images/same.png" %}" width="50%" height="50%" style="margin:right"/>

        <h6>作者のTwitter</h6>
        <a href="https://twitter.com/sobacha16">sobacha</a>
        
    </body>

{% endblock %}